
{% block title %}

<title>PROVEEDOR-XPENNG</title>

{% endblock %}


{% extends 'base.html' %}

{% block contenido %}
    
<header class="navbar navbar-dark sticky-top  bg-primary flex-md-nowrap p-0 shadow ">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 bg-primary" href="/Dashboard">DASHBOARD-XPENNG</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
   
  <div class="navbar-nav col-7 ">
  
   </div>
   

  <div class="navbar-nav ">
  
    <img src="{{ url_for('static', filename='img/usuario.png') }}"  width="30"  alt="Aqui va una imagen" >
     

  </div>

  <div class="navbar-nav  ">
  

    
    <a class="nav-link col-md-3 col-lg-2 me-0 px-3" href="">{{g.user[4]}}</a> 
   

  </div>




  <div class="navbar-nav ">
  
       
    <div class="nav-item text-nowrap  bg-primary">
      
      
      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 bg-primary" href="/logout">Salir</a>
    </div>

  </div>
</header>



<div class="container-fluid">
  <div class="row">
   
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">


  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Usuario
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        
        {% if g.user[3] == '1' %}

        <a class="nav-link active" aria-current="page" href="/sadmin/perfil/crear">Crear Usuarios</a>
        <a class="nav-link active" aria-current="page" href="/sadmin/perfil">Gestionar Usuarios</a>
        
        {% elif g.user[3] == '2' %}

        <a class="nav-link active" aria-current="page" href="/admin/perfil">Gestionar Usuarios</a>
        
        {% else %}

       <Label>NO TIENE ACCESO A ESTE MODULO</Label>
       
           
        
        {% endif %} 
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Producto
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">

       
        {% if g.user[3] == '1' %}

        <a class="nav-link active" aria-current="page" href="/sadmin/productos/crear">Crear Productos</a>
        <a class="nav-link active" aria-current="page" href="/sadmin/productos">Gestionar Productos</a>
      

        {% elif g.user[3] == '2' %}

        <a class="nav-link active" aria-current="page" href="/admin/productos/crear">Crear Productos</a>
      
        {% else %}

        <a class="nav-link active" aria-current="page" href="/productos">Gestionar Productos</a>

        {% endif %}     
      
      </div>
    </div>
  </div>

  
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingFour">
      <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="true" aria-controls="collapseFour">
        Proveedor
      </button>
    </h2>
    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingFour" data-bs-parent="#accordionExample">
      <div class="accordion-body">

        {% if g.user[3] == '1' %}

        <a class="nav-link active" aria-current="page" href="/sadmin/proveedores/crear">Crear Proveedor</a>
        <a class="nav-link active" aria-current="page" href="/sadmin/proveedores">Buscar Proveedor</a>
      

        {% elif g.user[3] == '2' %}

        <a class="nav-link active" aria-current="page" href="/admin/proveedores/crear">Crear Proveedor</a>
      
        {% else  %}

        <a class="nav-link active" aria-current="page" href="/proveedores">Buscar Proveedor</a>

        
        
        {% endif %} 

            </div>
    </div>
  </div>

    </nav>


    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
   
      <center>
      
       
   
        <h1 class="display-3">MODULO PROVEEDOR</h1>  
  
        <img src="{{ url_for('static', filename='img/proveedor.png') }}"  width="180" alt="Aqui va una imagen"> 
        
        <br>
        <br>
        

    <form  name="formRegister"  action="{{ url_for('proveedor_admin') }}"  method="post" onsubmit=""> 
        <div class="row">

    
  
          <div class="col" > 
            <input class="form-control me-sm-2" type="text" placeholder="Nombre" name="nombre" id ="nombre">
            
          </div>

          <div class="col">
            
            <input class="form-control me-sm-2" type="text" placeholder="Telefono" name="telefono" id ="telefono">  
          </div>

          <div class="col">
            
            <input class="form-control me-sm-2" type="text" placeholder="Direccion" name="direccion" id ="direccion">          
          </div>

          <div class="col">
            
            <input class="form-control me-sm-2" type="text" placeholder="Ciudad" name="ciudad" id ="ciudad">          
          </div>

          <div class="col">
           
            <button class="btn btn-secondary my-2 my-sm-0 form-control me-sm-2" type="submit">Crear</button>
          </div>


                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class=flashes>
                            {% for message in messages %}

                            <script>
                                window.alert('{{ message }}')                                                        
                            </script>
                              
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}




        </form>
        </div>

        <br>

        
        <div class="table-responsive">
   
          <form class="d-flex" action="{{ url_for('consulta_proveedor_admin') }}" method="post" onsubmit="">
            <input class="form-control me-sm-2" type="text" placeholder="Buscar" name="nombre" id="nombre">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
          </form>
  
  
          <br>
      
  
          <table class="table table-hover">


            <thead>
              <tr>
                <th class="table-primary" scope="col">Id</th>
                <th class="table-primary" scope="col">Nombre</th>
                <th class="table-primary" scope="col">Telefono</th>
                <th class="table-primary" scope="col">Direccion</th>
                <th class="table-primary" scope="col">Ciudad</th>
                <th class="table-primary"  scope="col">Editar</th>  
                <th class="table-primary" scope="col">Eliminar</th>              
              </tr>
            </thead>

            <tbody>
              <tr class="table-active">
              {% for proveedor in proveedores %}   
              
                <th  scope="row">{% print(proveedor[0]) %}</th>
                <td >{% print(proveedor[1]) %}</td>
                <td >{% print(proveedor[2]) %}</td>
                <td >{% print(proveedor[3]) %}</td>
                <td >{% print(proveedor[4]) %}</td>  
                <td > <a href="#" onclick="editarProveedor('{{proveedor[1]}}')">Editar</a>   </td>
                <td > <a href="#" onclick="eliminarProveedor('{{proveedor[1]}}')">Eliminar</a>   </td>
              </tr>
              {% endfor %}                   
              
  
                     
            
            </tbody>
          </table> 
      
      </center>
    
    </main>
  </div>
</div>

{% endblock %}
